.pagination-custom.n-pagination {
  .n-select {
    margin-right: 2rem;
  }

  .n-pagination-prefix {
    margin-right: 0;
  }
}

.pagination-small.n-pagination {
  .n-select {
    margin-right: auto;
  }
}
