$icomoon-font-family: 'tool-system-icon' !default;
$icomoon-font-path: '/fonts' !default;

$icon-add: unquote('"\\e900"');
$icon-arrow-down: unquote('"\\e901"');
$icon-arrow-left: unquote('"\\e902"');
$icon-arrow-right: unquote('"\\e903"');
$icon-arrow-up: unquote('"\\e904"');
$icon-auto-check: unquote('"\\e905"');
$icon-calendar: unquote('"\\e906"');
$icon-check: unquote('"\\e907"');
$icon-check-circle: unquote('"\\e908"');
$icon-close: unquote('"\\e909"');
$icon-close-circle: unquote('"\\e90a"');
$icon-copy: unquote('"\\e90b"');
$icon-detail: unquote('"\\e90c"');
$icon-domain-path1: unquote('"\\e90d"');
$icon-domain-path2: unquote('"\\e90e"');
$icon-download: unquote('"\\e90f"');
$icon-drag: unquote('"\\e910"');
$icon-edit: unquote('"\\e911"');
$icon-img: unquote('"\\e912"');
$icon-keyword-path1: unquote('"\\e913"');
$icon-keyword-path2: unquote('"\\e914"');
$icon-keyword-management: unquote('"\\e915"');
$icon-log-out: unquote('"\\e916"');
$icon-manual-check: unquote('"\\e917"');
$icon-refresh: unquote('"\\e918"');
$icon-Search: unquote('"\\e919"');
$icon-search-time-path1: unquote('"\\e91a"');
$icon-search-time-path2: unquote('"\\e91b"');
$icon-search-time-path3: unquote('"\\e91c"');
$icon-search-time-path4: unquote('"\\e91d"');
$icon-search-time-path5: unquote('"\\e91e"');
$icon-search-time-path6: unquote('"\\e91f"');
$icon-search-time-path7: unquote('"\\e920"');
$icon-search-time-path8: unquote('"\\e921"');
$icon-search-time-path9: unquote('"\\e922"');
$icon-search-time-path10: unquote('"\\e923"');
$icon-search-time-path11: unquote('"\\e924"');
$icon-search-time-path12: unquote('"\\e925"');
$icon-search-time-path13: unquote('"\\e926"');
$icon-search-time-path14: unquote('"\\e927"');
$icon-send: unquote('"\\e928"');
$icon-setting: unquote('"\\e929"');
$icon-time-path1: unquote('"\\e92a"');
$icon-time-path2: unquote('"\\e92b"');
$icon-time-path3: unquote('"\\e92c"');
$icon-time-path4: unquote('"\\e92d"');
$icon-time-path5: unquote('"\\e92e"');
$icon-time-path6: unquote('"\\e92f"');
$icon-time-path7: unquote('"\\e930"');
$icon-time-path8: unquote('"\\e931"');
$icon-time-path9: unquote('"\\e932"');
$icon-time-path10: unquote('"\\e933"');
$icon-time-path11: unquote('"\\e934"');
$icon-time-path12: unquote('"\\e935"');
$icon-time-path13: unquote('"\\e936"');
$icon-time-path14: unquote('"\\e937"');
$icon-time-path15: unquote('"\\e938"');
$icon-tooltips: unquote('"\\e939"');
$icon-trash: unquote('"\\e93a"');
$icon-upload: unquote('"\\e93b"');
$icon-upload-cloud: unquote('"\\e93c"');
$icon-user-check: unquote('"\\e93d"');
$icon-video: unquote('"\\e93e"');
